body {
    background-color: rgb(233, 229, 217);
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}


header nav ul {
    background-color: rgb(73, 69, 69);
    color: rgb(233, 229, 217);
    border-radius: 15px;
    margin: 16px;
    width: 50%;
}

header nav ul li {
    display: inline;
    margin: 8px;
    padding: 10px;
    float: top;
}

header nav ul li:hover a:hover {
    background-color: rgb(233, 229, 217);
    color: rgb(73, 69, 69);
}

header nav ul li a {
    color: rgb(233, 229, 217);
    display: inline-block;
    padding: 5px 1.5em;
    text-decoration: none;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid rgb(155, 155, 155);
    margin: 16px;
    padding: 16px;
    width: 50%; 
}

section header h1 {
    color: rgb(66, 126, 120);
}

section.hidden {
    display: none;
}
